<ul class="toolbar prem">
  <img src="{{BaseUrl}}/images/logo.jpg" width="200px" [routerLink]="['items']" />
  <button class="pull-right title mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect" (click)="auth.login()" *ngIf="!auth.authenticated()">Login</button>
  <button class="pull-right title mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect" (click)="auth.logout()" *ngIf="auth.authenticated()">Logout</button>
 <a class="pull-right title" [routerLink]="['items', 'add']" *ngIf="auth.authenticated()">Add Items</a>
 <a class="pull-right title" [routerLink]="['items']" *ngIf="auth.authenticated()">View</a>
 <a class="pull-right title" [routerLink]="['aboutus']">About Us</a>
</ul>