.toolbar {
    list-style-type: none;
    margin: 0;
    padding: 10px;
    overflow: hidden;
    background-color:black;;
}

.toolbar li {
    float: left;
}

.toolbar li button {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.toolbar li button:hover {
    background-color: #111;
}

.pull-right{
    float:right;
}

.title{
    margin-right:20px;
    margin-left:20px;
    color:white;
    text-decoration: none;
}