.toolbar {
    list-style-type: none;
    margin: 0;
    padding: 10px;
    overflow: hidden;
    background-color: #32A;
}

.toolbar li {
    float: left;
}

.toolbar li button {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.toolbar li button:hover {
    background-color: #111;
}