<p>
  We are group of few enthusiastic IT professional. We developed this website as a non-profit organizing application.
  Our main motto is to help needy people reach out the product they need.
</p>
	
	<div class="aboutUsPic demo-card-wide mdl-card mdl-shadow--2dp cards_comp">

	  <div class="mdl-card__supporting-text">
	    <img class="productImg" src="{{BaseUrl}}/images/dheeraj.jpg" width="100%" height="250px"/>			
	  </div>
    <div class="mdl-card__actions mdl-card--border">
	      <b>Dheeraj Pandey</b><br/>
        Co-Founder
	    </div>
  </div>

  <div class="aboutUsPic demo-card-wide mdl-card mdl-shadow--2dp cards_comp">

	  <div class="mdl-card__supporting-text">
	    <img class="productImg" src="{{BaseUrl}}/images/suman.jpg" width="100%" height="250px"/>			
	  </div>
    <div class="mdl-card__actions mdl-card--border">
	      <b>Suman Lama</b><br/>
        Co-Founder
	    </div>
  </div>

  <div class="aboutUsPic demo-card-wide mdl-card mdl-shadow--2dp cards_comp">

	  <div class="mdl-card__supporting-text">
	    <img class="productImg" src="{{BaseUrl}}/images/prem.jpg" width="100%" height="250px"/>			
	  </div>
    <div class="mdl-card__actions mdl-card--border">
	      <b>Prem Krishna Nakarmi</b><br/>
        Co-Founder
	    </div>
  </div>